!!!
%html
  %head
    %title= t.main.title
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/reset.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/screen.css" }
    
    /[if IE 6]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "css/ie6.css"}
      
    %meta{ :property => "og:title", :content => "It's time to choose a better browser." }
    %meta{ :property => "og:url", :content => "http://abetterbrowser.org/" }
    %meta{ :property => "og:image", :content => "http://abetterbrowser.s3.amazonaws.com/images/better_browser.jpg" }
    %meta{ :property => "og:site_name", :content => "A Better Browser" }
    %meta{ :property => "og:description", :content => " Every day, around the globe, millions of web pages are horribly disfigured. The cause of this tragedy is Microsoft Internet Explorer. You can help. If you or someone you know is using Internet Explorer, please, save a web page. Choose A Better Browser." }
    
    %meta{ :name => "Description", :content => "A simple landing page with a simple call to action. Please choose a better browser now. It's time we put Internet Explorer in the recycle bin."} 
    %meta{ :name => "Keywords", :content => "IE6, IE7, IE8, Internet Explorer, Browser, A Better Browser, Firefox, Chrome, Opera, Safari" }
    
    %script{ :type => "text/javascript", :src => "http://use.typekit.com/pvj7jrd.js" }
    :javascript
      try{Typekit.load();}catch(e){}
      
  %body
    .menu
      %ul
        %li
          %a{:href => "/"}= t.menu.english
        %li
          %a{:href => "/es"}= t.menu.spanish
        %li
          %a{:href => "/fr"}= t.menu.french
        %li
          %a{:href => "/it"}= t.menu.italian
        %li
          %a{:href => "/de"}= t.menu.german
        %li
          %a{:href => "/cs"}= t.menu.czech
        %li
          %a{:href => "/sk"}= t.menu.slovak
        %li
          %a{:href => "/sr"}= t.menu.serbian
        %li
          %a{:href => "/pt-br"}= t.menu.portuguesebr
        %li
          %a{:href => "/ru"}= t.menu.russian
        %li
          %a{:href => "/pl"}= t.menu.polish
        %li
          %a{:href => "/tr"}= t.menu.turkish
        %li
          %a{:href => "/nl"}= t.menu.dutch
        %li
          %a{:href => "/ja"}= t.menu.japanese
        %li
          %a{:href => "/zh-cn"}= t.menu.traditional_chinese
        %li
          %a{:href => "/zh-hk"}= t.menu.simplified_chinese
          
    .wrapper
      %h3= t.main.intro
      %h1= t.main.headline
      %h2= t.main.tagline
      
    .browsers
      .wrapper
        %p= t.main.ie6

        %a.chrome{ :href => "http://www.google.com/chrome", :target => "_blank" } Google Chrome
        %a.firefox{ :href => "http://www.firefox.com", :target => "_blank" } Mozilla Firefox
        %a.safari{ :href => "http://www.apple.com/safari/download", :target => "_blank" } Apple Safari
        %a.opera{ :href => "http://www.opera.com/download", :target => "_blank" } Opera
    .wrapper
      .ad
        %a.noteless{ :href => "http://bit.ly/noteless_abb", :target => "_blank" }
      .meh
        %a.icon{ :href => "http://windows.microsoft.com/en-US/internet-explorer/downloads/ie", :target => "_blank" }
        %p= t.main.ie_lover
        
      .social
        %ul
          %li.twitter
            :plain
              <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://abetterbrowser.org" data-text="It's time we put Internet Explorer in the recycle bin. Choose a better browser." data-count="horizontal" data-via="abetterbrowser" data-related="ejc">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          %li.google
            :plain
              <g:plusone size="medium" annotation="inline"></g:plusone>
          %li.facebook
            :plain
              <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=252966201401275&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/A-Better-Browser/250509481647978" send="true" layout="button_count" send="false" width="450" show_faces="false" font=""></fb:like>
              
            
        
    .wrapper
      .footer
        %ul
          %li
            %a{ :href => "http://twitter.com/ejc", :target => "_blank"}= t.credits.design
          %li
            %a{ :href => "https://github.com/ejc/abetterbrowser.org", :target => "_blank"}= t.credits.site_source
        %ul.translation.first
          %li= t.credits.translation
          %li
            %a{ :href => "http://zacparker.com", :target => "_blank"}= t.credits.spanish
          %li
            %a{ :href => "#"}= t.credits.french
          %li
            %a{ :href => "http://twitter.com/jubstuff", :target => "_blank"}= t.credits.italian
          %li
            %a{ :href => "http://erikfischerphotography.com", :target => "_blank"}= t.credits.german
          
        %ul.translation.second
          %li
            %a{ :href => "http://twitter.com/marek"}= t.credits.czech
          %li
            %a{ :href => "http://jaro.kostal.sk"}= t.credits.slovak
          %li
            %a{ :href => "http://twitter.com/npantos"}= t.credits.serbian
          %li
            %a{ :href => "http://im3.pl"}= t.credits.polish
          %li
            %a{ :href => "http://mkautzmann.com.br"}= t.credits.portuguesebr
          %li
            %a{ :href => "http://twitter.com/xkeeper"}= t.credits.russian
        %p.contribute
          %a{ :href => "http://twitter.com/ejc", :target => "_blank"}= t.credits.contribute + " @ejc"

          
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22003967-4']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  :javascript
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();